.container{
    max-width: 1280px;
    width: 100%;
    position: relative;
    margin-inline: auto;
    padding-inline: 1em;

}
.pos-realtive{
    position: relative;
}

.pos-abs{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}